{% extends 'base.html.twig' %}
{% block stylelink %}
    <link rel="stylesheet" href="../styles/startseite_style.css">
    {{ parent() }}
{% endblock %}
 {% block h1 %}
     <h1>Streusalz</h1>
 {% endblock %}
 {% block container %}
     <div class="container_produkte">
         {% for product in products %}
             <div class="produkte">
                 <a href='../php/product_details.php?id={{product.ID}}'><img src="{{product.IMG}} " width="100" height="100" alt="bild"></a>
                 <p>{{product.NAME}}</p>
                 <div>Preis: {{product.PRICE}}€</div> </br>
                 <div> {{product.BESCHREIBUNG}} </div>
             </div>
         {% endfor %}
     </div>
 {% endblock %}